*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Tahoma;
}
:root{
    --color-1: #fff;
    --color-2: #CCC;
    --bg-color:rgba(36, 103, 247, 0.788);
    --bg-color2:#000;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, var(--bg-color) -90%, var(--bg-color2));
}
.container{
    width: 75%;
    border: none;
    height: 80vh;
    background: linear-gradient(135deg, /*var(--bg-color)*/rgba(255, 255, 255, 0.1), /*var(--bg-color2)*/ rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    box-shadow: 20px 20px 102px 20px rgba(0, 0, 0, 0.37);
    transition: transform 3s linear;
    transform-style: preserve-3d;
}
.container:hover{
    perspective-origin: center;
    transform: perspective(100%), matrix3d(10px);
}
.nav{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
ul li{
    display: inline-flex;
    margin: 20px;
}
ul li a{
    color: white;
    font-size: 18px;
    padding: 8px 13px;
    transition: all 1s -0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 80px;
    height: 40px;
}
ul li a:hover{
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-1);
    box-shadow: 0 0 20px #000, 
    0 0 20px #000,
    0 0 20px #000,
    0 0 20px #000;
}
ul li a.active{
    color: black;
    background-color: aqua;
    border-radius: 5px;
}
ul li a:focus{
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--bg-color2);
    box-shadow: 0 0 20px #fff, 
    0 0 20px #fff,
    0 0 20px #fff,
    0 0 20px #fff;
}
.logo{
    color: transparent;
    margin: 20px;
    font-size: 22px;
    font-weight: 600;
    -webkit-text-stroke: 0.3px var(--color-1);
    cursor: pointer;
}
.cover{
    display: flex;
    padding: 0 20px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.cover:is(.fa){
    gap: 0;
}
.text-con{
    padding: 0 20px;
    word-wrap: none;
    word-break: keep-all;
    width: 90ch;
}
.naming{
    color: var(--color-1);
    font-size: 2.85rem;
    font-weight: bolder;
}
.grade{
    color: aqua;
    padding-top: 10px;
}
p{
    color: var(--color-1);
    font-size: 14px;
}
.links{
    margin-top: 20px;
    display: inline-flex;
    justify-content: space-between;
    gap: 10px;
}
.btn{
    border: 2px solid aqua;
    text-align: center;
    color: var(--bg-color);
    padding: 16px 0px;
    border-radius: 6px;
    width: 17ch;
    font-size: 1.45rem;
    transition: all 1s ease-in-out;
}
.btn1{
    background: linear-gradient(to left, #fff -30%, aqua);
}
.btn1:hover{
    border-radius: calc(20px) /20px;
    background: transparent;
}
.btn2:hover{
    border-radius: calc(20px) /20px;
    background: linear-gradient(to left, #fff -30%, aqua);
    border: none;
}
.icons{
    position: absolute;
    top: 120px;
    display: inline-flex;
    gap: 25px;
    right: 0;
    top: 470px;
    left: 100px;
    width: 170px;
}
.icons .fag{
    /* background-color: aqua; */
    width: 100%;
    border-radius: calc(20%) /20%;
    height: 100%;
    border: 1px solid aqua;
}
.icons .fag:hover{
    animation: blurDark 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.fag .fa{
    /* padding: 10px 10px; */
    font-size: 2.6rem;
    color: aqua;
    margin-left: 10px;
    margin-top: 13px;
    margin-right: 10px;
    margin: 13px;
}
@keyframes blurDark {
    0% {
        box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000;
    }
    50% {
        box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000;
    }
    100% {
        box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000;
    }
}
label{
    position: relative;
    display: none;
}
.fa-bars{
    font-size: 2.5rem;
    font-weight: 700;
}

@media (max-width: 660px) {
.container{
    width: 100%;
    border: none;
    height: 140vh;
}
ul li{
    margin: 20px -1px;
}
ul li a{
    color: white;
    font-size: 14px;
    padding: 0px 0px;
    width: 58px;
    height: 30px;
}
ul li a:hover,ul li a:focus{
border: none;
}
ul li a.active{
    background-color: transparent;
    color: var(--color-1);
}
.logo{
    color: transparent;
    margin: 20px;
    position: absolute;
    left: -15px;
    font-size: 16px;
    font-weight: 900;
}
.cover{
    display: block;
    padding: 0 0px;
    margin-top: 30px;
}
.text-con{
    width: 59ch;
}
.image-frame{
    margin: 60px 80px;
    width: 50%;
    border: 1px solid aqua;
    animation: glur 1s ease-in-out 0s  infinite;
}
@keyframes glur {
    0% {
        box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000;
    }
    50% {
        box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000;
    }
    100% {
        box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000;
    }
}
.icons{
    border-top: 5px solid aqua;
    width: 50%;
    top: 400px;
}
.fag{
    margin-top: 20px;
}
.re{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid aqua;
    border-radius: 30px;
    animation: glur 1s ease-in-out 0s  infinite;
}
.re .fa-code{
    margin: 10px;
    font-size: 20px;
    color: var(--bg-color);
}
}
@media (max-width: 980px) {
    .container{
        width: 100%;
        border: none;
        height: 100%;
    }
    ul li{
        margin: 20px -1px;
    }
    ul li a{
        color: white;
        font-size: 14px;
        padding: 0px 0px;
        width: 58px;
        height: 30px;
    }
    ul li a:hover,ul li a:focus{
    border: none;
    }
    ul li a.active{
        background-color: transparent;
        color: var(--color-1);
    }
    .logo{
        color: transparent;
        margin: 20px;
        position: absolute;
        left: -15px;
        font-size: 16px;
        font-weight: 900;
    }
    .cover{
        display: block;
        padding: 0 0px;
        margin-top: 30px;
    }
    .text-con{
        width: 59ch;
    }
    .image-frame{
        margin: 60px 80px;
        width: 50%;
        border: 1px solid aqua;
        animation: glur 1s ease-in-out 0s  infinite;
    }
    @keyframes glur {
        0% {
            box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000;
        }
        50% {
            box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000;
        }
        100% {
            box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000;
        }
    }
    .icons{
        border-top: 5px solid aqua;
        width: 50%;
    }
    .fag{
        margin-top: 20px;
    }
    .re{
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid aqua;
        border-radius: 30px;
        animation: glur 1s ease-in-out 0s  infinite;
    }
    .re .fa-code{
        margin: 10px;
        font-size: 20px;
        color: var(--bg-color);
    }
    }