*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #fff;
}
/* =========================header=============================== */
header{
    background: #fff;
    width: 100vw;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #88838391;
}
/* ============================firsHeader============================ */
.nav{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    display: inline-flex;
    align-self: center;
    margin: 5px 20px;
    padding: 5px 0;
    list-style: none;
}
ul{
    margin-left: 70px;
}
.ul{
    margin-right: 70px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
}
ul li a:hover{
    color: rgb(22, 161, 161);
}
ul li a:target{
    color: rgb(22, 161, 161);
}
ul li a:focus{
    color: rgb(22, 161, 161);
}
ul li a:active{
    color: rgb(22, 161, 161);
}
/* .alg-1{
    display: none;
    position: relative;
    top: 60px;
    border-radius: 20px;
}
#list1 a:hover ~ .alg-1{
    display: block;
    position: absolute;
    background: #948b8b;
    min-width: 20%;
    min-height: 20%;
    line-height: 5em;
    font-size: 18px;
    font-weight: 800;
}
#list1 a:focus ~ .alg-1{
    display: block;
    position: absolute;
    background: #948b8b;
    min-width: 20%;
    min-height: 20%;
    line-height: 5em;
    font-size: 18px;
    font-weight: 800;
    /* word-break: keep-all; */
/* }
#list1 :is(.alg-1 .l1 li){
    display: block;
    line-height: 5em;
    font-size: 18px;
    font-weight: 800;
}
.alg-1 .l1 li a{
    color: #fff;
    background: rgb(90, 238, 238);
    text-align: center;
    padding: 30px 40px;
}
.alg-1 .l1 li a:hover{
    color: #fff;
    background: rgb(90, 238, 238);
    text-align: center;
    padding: 30px 40px;
}
.l1 li a{
    position: relative;
    left: -20px;
}  */
#list1{
    position: relative;
}
.alg-1{
    color: aqua;
    background: #797272f1;
    padding: 15px 2px;
    border-radius: 18px;
    /* min-width: 100%; */
    visibility: hidden;
    position: absolute;
    display: none;
    text-align: center;
    width: 260px;
    z-index: 1;
    left: -8%;
    top: 190%;
    transition: all 0.5s linear;
}
.alg-1 >.l1 li a{
    display: block;
}
#list1 a:hover ~ .alg-1{
    visibility: visible;
    display: block;
}
#list1 a:focus ~ .alg-1{
    visibility: visible;
    display: block;
}
#list1 > .alg-1::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: #797272f1;
}
.l1 li a{
    position: relative;
    left: -30px;
    line-height: 50px;
    font-size: large;
    font-weight: 800;
    text-align: center;
}
.l1 li a:hover{
    color: #fff;
    background: transparent;
    border-bottom: 2px dotted aqua;
}
/* =============================SECOND HEADER========================== */
.logo{
    display: inline-flex;
    padding: 28px 13px;
}
.logo-text{
    color: #aca3a3f8;
    font-size: 2rem;
    margin-top: 19px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.seconde-nav li a{
    color: #1d1c1cf1;
    margin-left: 10px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 540;
}
li a{
    margin-left: 20px;
}
#list2{
    position: relative;
}
#form{
    display: flex;
    flex-flow: column wrap;
    z-index: 1;
    left: -8%;
    top: 190%;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 350%;
    height: 350px;
    display: none;
    color: aqua;
    background: #797272f1;
    padding: 15px 10px;
    border-radius: 18px;
}
#list2 a:focus ~ #form{
    display: block;
}
#list2 a:hover ~ #form{
    display: block;
}
#list2 > #form::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: #797272f1;
}
#form > *{
    margin-top: 20px;
}
.fa-times-circle{
    position: relative;
    top: -20px;
    left: 300px;
    cursor: pointer;
}
.uname{
    top: 15px;
    position: relative;
    height: 50px;
    width: 80%;
    left: 13px;
}
.pword{
    top: -1px;
    height: 50px;
    width: 80%;
    position: relative;
    left: 32px;
}
#submit{
    top: 90px;
    left: 19px;
    position: relative;
    width: 90%;
}